<!-- HERO -->
  <section id="hero" class="module-hero bg-black-alfa-30 color-white fullheight parallax" data-background="assets/banner.jpeg">
    <!-- HERO TEXT -->
    <div class="hero-caption">
      <div class="hero-text">
        <div class="container">

          <div class="row">
            <div class="col-sm-12 text-center">
              <h1 class="montserrat text-uppercase text-xxl m-t-80">PIMP MY BALCONY</h1>
              <h2 class="text-400">Y'a du monde au balcon </h2>
              <div class="btn-list m-t-45">
                <!-- <a href="#about" class="btn btn-base btn-lg video-pop-up smoothscroll">Create your Balcony</a> -->
                <%= link_to "Create your Balcony", new_balcony_path, class: "btn btn-base btn-lg video-pop-up smoothscroll"  %>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- END HERO -->
