<!-- FOOTER -->
<section class="module-xs bg-white-dark m-t-40">
			<div class="container">

				<div class="row multi-columns-row">

					<!-- ICONBOX -->
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="box-icon-left">
							<div class="icon-box-icon">
								<i class="fa fa-smile-o"></i>
							</div>
							<h4>Satisfied or refund</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<!-- END ICONBOX -->

					<!-- ICONBOX -->
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="box-icon-left">
							<div class="icon-box-icon">
								<i class="fa fa-truck"></i>
							</div>
							<h4>Worldwide Delivery</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<!-- END ICONBOX -->

					<!-- ICONBOX -->
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="box-icon-left">
							<div class="icon-box-icon">
								<i class="fa fa-credit-card"></i>
							</div>
							<h4>Secured payment</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<!-- END ICONBOX -->

					<!-- ICONBOX -->
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="box-icon-left">
							<div class="icon-box-icon">
								<i class="fa fa-pagelines"></i>
							</div>
							<h4>Sustainable commitment</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<!-- END ICONBOX -->

				</div>

			</div>
		</section>


		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="widget">
							<div class="counter p-0 m-b-30">
								<h2 class="montserrat m-b-5">
									<span class="counter-timer" data-from="0" data-to="14963">0</span>
								</h2>
								<h5>Fans on Facebook</h5>
							</div>
							<p> Pimp my balcony aims at blooming your urban life by offering appropriate product to turn your balcony into an intimate breathing space. </p>
              <div>
                <ul class="social-icons social-icons-simple">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
						</div>
					</div>
					<!--  -->

					<!-- TWITTER WIDGET -->
					<div class="col-sm-3">
						<div class="widget">
							<h6 class="montserrat text-uppercase bottom-line">Latest Twitts</h6>
							<div class="twitter-feed" data-twitter="345170787868762112"></div>
						</div>
					</div>
					<!-- END TWITTER WIDGET -->

					<!-- RECENT POSTS WIDGET -->
					<div class="col-sm-3">
						<div class="widget">
							<h6 class="montserrat text-uppercase bottom-line">Recent Posts</h6>
							<ul class="recent-posts">
								<li>
									<div class="widget-posts-image">
										<a href="#"><img src="assets/images/blog/widgets/1.jpg" alt=""></a>
									</div>
									<div class="widget-posts-body">
										<h6 class="widget-posts-title"><a href="#">Little Heart</a></h6>
										<div class="widget-posts-meta">October 18, 2015 </div>
									</div>
								</li>
								<li>
									<div class="widget-posts-image">
										<a href="#"><img src="assets/images/blog/widgets/2.jpg" alt=""></a>
									</div>
									<div class="widget-posts-body">
										<h6 class="widget-posts-title"><a href="#">The Notebook</a></h6>
										<div class="widget-posts-meta">October 24, 2015 </div>
									</div>
								</li>
								<li>
									<div class="widget-posts-image">
										<a href="#"><img src="assets/images/blog/widgets/3.jpg" alt=""></a>
									</div>
									<div class="widget-posts-body">
										<h6 class="widget-posts-title"><a href="#">Specimen Book</a></h6>
										<div class="widget-posts-meta">October 28, 2015 </div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- END RECENT POSTS WIDGET -->

					<!-- CONTACT WIDGET -->
					<div class="col-sm-3">
						<div class="widget">
							<h6 class="montserrat text-uppercase bottom-line">Contact Us</h6>
							<address class="map-background">
								<p>10, Waterloo Rd, Romford RM1,<br>
								London, United Kingdom</p>
								Phone: 8 800 123 4567<br>
								Fax: 8 800 123 4567<br>
								E-mail: <a href="mailto:pimpmybalcony@gmail.com">pimpmybalcony@gmail.com</a>
							</address>
						</div>
					</div>
					<!-- END CONTACT WIDGET -->

				</div><!-- .row -->

				<div class="copyright">

					<div class="row">

						<div class="col-sm-6">
							<p class="m-0">
								Copyright <a href="#">Neomax</a>, 2015, All Rights Reserved.
							</p>
						</div>

						<div class="col-sm-6">
							<div class="text-right">
								<a href="#top" class="scroll-top"><i class="fa fa-level-up"></i></a>
							</div>
						</div>

					</div><!-- .row -->

				</div>

			</div>
		</footer>
		<!-- END FOOTER -->
