<h1>Order</h1>
<ul>
  <li>Status: <%= @order.state %></li>
  <% @cart.items.each do |item| %>
    <li>Item: <%=  item.name %>: <%= humanized_money_with_symbol(item.price) %></li>
  <% end %>
  <li>Total Amount: <%= humanized_money_with_symbol(@order.amount) %></li>
<ul>
