
<!-- WRAPPER -->
<div class="wrapper">

  <!-- BANNER -->
  <%= render 'shared/banner' %>
  <!-- END banner -->

  <!-- HOW IT WORKS -->
  <section id="about" class="module">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="text-center m-b-70">
						<h1>How it works?</h1>
					</div>
				</div>
			</div>

			<div class="row multi-columns-row">

				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="box-icon text-center">
						<div class="icon-box-icon">
							<i class="icon-fire icons"></i>
						</div>
						<h4>Branding</h4>
						<p>Donec pede justo fringilla vel aliquet nec vulputate eget arcu. In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="box-icon text-center">
						<div class="icon-box-icon">
							<i class="icon-wrench icons"></i>
						</div>
						<h4>Development</h4>
						<p>Donec pede justo fringilla vel aliquet nec vulputate eget arcu. In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="box-icon text-center">
						<div class="icon-box-icon">
							<i class="icon-earphones-alt icons"></i>
						</div>
						<h4>Maintenance</h4>
						<p>Donec pede justo fringilla vel aliquet nec vulputate eget arcu. In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
					</div>
				</div>

			</div><!-- .row -->

		</div>
	</section>
  <!-- END HOW IT WORKS -->


  <!-- TESTIMONIALS -->
  <section class="module bg-brand-alfa-60 color-white parallax" data-background="app/assets/images/testimonial_banner.jpeg">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-10 col-sm-offset-1">
          <div class="testimonial-image">
            <img src="assets/images/avatar/2.jpg" alt="">
            <div class="cd-author-info">
              <h5 class="text-700 m-0">Mark Stone</h5>
              Corporation Name, Inc
            </div>
          </div>
          <div class="testimonial">
            The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never once yet been ill.
          </div>
  			</div>
  		</div>
		</div><!-- .row -->
  </section>
  <!-- END TESTIMONIALS -->

</div>
