
<!-- WRAPPER -->
<div class="wrapper">

  <!-- BANNER -->
  <%= render 'shared/banner' %>
  <!-- END banner -->

  <section id="about" class="module">
			<div class="container">

				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">

						<div class="text-center m-b-70">
							<h1>How it works ?</h1>
						</div>

					</div>
				</div>

				<div class="row multi-columns-row">

					<div class="col-sm-4 col-md-4 col-lg-4">
						<div class="box-icon text-center">
							<div class="icon-box-icon">
								<i class="icon-fire icons"></i>
							</div>
							<h4>Branding</h4>
							<p>Donec pede justo fringilla vel aliquet nec vulputate eget arcu. In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
						</div>
					</div>

					<div class="col-sm-4 col-md-4 col-lg-4">
						<div class="box-icon text-center">
							<div class="icon-box-icon">
								<i class="icon-wrench icons"></i>
							</div>
							<h4>Development</h4>
							<p>Donec pede justo fringilla vel aliquet nec vulputate eget arcu. In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
						</div>
					</div>

					<div class="col-sm-4 col-md-4 col-lg-4">
						<div class="box-icon text-center">
							<div class="icon-box-icon">
								<i class="icon-earphones-alt icons"></i>
							</div>
							<h4>Maintenance</h4>
							<p>Donec pede justo fringilla vel aliquet nec vulputate eget arcu. In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
						</div>
					</div>

				</div><!-- .row -->

			</div>
		</section>


</div>
