  <!-- SLIDER DEFAULT -->
    <section class="module divider-bottom">
      <div class="container">

        <div class="row">
          <div class="col-sm-4">

            <h5 class="montserrat text-uppercase bottom-line">Discover Pinterest inspiring balconies </h5>
            <!-- SLIDER DEFAULT -->
            <div class="image-slider">
              <img src="assets/balcony3.jpg" alt="">
            </div>

           <div class="col-sm-4">

              <!-- SLIDER DEFAULT -->
            <div class="image-slider">
              <img src="assets/balcony15.jpg" alt="">
            </div>
            <!-- END SLIDER DEFAULT -->
           </div>
          </div>
        </div><!-- .row -->

      </div>
    </section>
    <!-- END SLIDER DEFAULT -->



<!--
<% Balcony.all.each do |balcony| %>
  <%= cl_image_tag balcony.photo, height: 300, width: 400, crop: :fill %>
  <%= link_to balcony.name, public_balcony_path(balcony), {class: "btn btn-link"} %>
  <br>
<% end %>
 -->

